<div class="nav-container">
    <div class="nav-logo">
        <a href="index.html">Allit</a>
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="index.html" class="nav-link">홈</a>
        </li>
        <li class="nav-item">
            <a href="menu1.html" class="nav-link">메뉴1</a>
        </li>
        <li class="nav-item">
            <a href="menu2.html" class="nav-link">메뉴2</a>
        </li>
        <li class="nav-item">
            <a href="menu3.html" class="nav-link">메뉴3</a>
        </li>
        <li class="nav-item">
            <a href="menu4.html" class="nav-link">메뉴4</a>
        </li>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</div> 