<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="index.html">올아이티</a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="index.html" class="nav-link">홈</a>
            </li>
            <li class="nav-item has-submenu">
                <a href="gravure-pages/gravure-mes.html" class="nav-link">그라비아 인쇄 특화 MES <span class="dropdown-arrow">▼</span></a>
                <ul class="submenu">
                    <li><a href="gravure-pages/product-registration.html">제품관리</a></li>
                    <li><a href="gravure-pages/sales.html">영업관리</a></li>
                    <li><a href="gravure-pages/purchase.html">구매자재관리</a></li>
                    <li><a href="gravure-pages/production.html">생산관리</a></li>
                    <li><a href="gravure-pages/dongpan.html">동판관리</a></li>
                    <li><a href="gravure-pages/quaility.html">품질관리</a></li>
                    <li><a href="gravure-pages/equipment.html">설비관리</a></li>
                    <li><a href="gravure-pages/inventory.html">재고관리</a></li>
                    <li><a href="gravure-pages/financial.html">수금관리·경영정보관리</a></li>
                </ul>
            </li>
            <li class="nav-item has-submenu">
                <a href="mes-solution.html" class="nav-link">표준 MES <span class="dropdown-arrow">▼</span></a>
                <ul class="submenu">
                    <li><a href="gravure-pages/gravure-mes.html#section1">서브메뉴 2-1</a></li>
                    <li><a href="gravure-pages/gravure-mes.html#section2">서브메뉴 2-2</a></li>
                    <li><a href="gravure-pages/gravure-mes.html#section3">서브메뉴 2-3</a></li>
                </ul>
            </li>
            <li class="nav-item has-submenu">
                <a href="web-development.html" class="nav-link">WEB MES <span class="dropdown-arrow">▼</span></a>
                <ul class="submenu">
                    <li><a href="web-development.html#section1">서브메뉴 3-1</a></li>
                    <li><a href="web-development.html#section2">서브메뉴 3-2</a></li>
                    <li><a href="web-development.html#section3">서브메뉴 3-3</a></li>
                    <li><a href="web-development.html#section4">서브메뉴 3-4</a></li>
                    <li><a href="web-development.html#section5">서브메뉴 3-5</a></li>
                </ul>
            </li>
            <li class="nav-item has-submenu">
                <a href="about.html" class="nav-link">회사소개 <span class="dropdown-arrow">▼</span></a>
                <ul class="submenu">
                    <li><a href="about.html">올아이티 소개</a></li>
                    <li><a href="projects-partners.html">프로젝트 & 협력사</a></li>
                    <li><a href="careers.html">채용정보</a></li>
                    <li><a href="news.html">뉴스</a></li>
                </ul>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav> 